@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-header">
        <div class="d-grid gap-2 d-md-block">
            <button type="button" class="btn btn-outline-success btn-sm"><i class="bi bi-files"></i> Copy</button>
            <button type="button" class="btn btn-outline-primary btn-sm"><i class="bi bi-clipboard2"></i> Paste</button>
            <button type="button" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash3-fill"></i> Remove</button>
            <button type="button" class="btn btn-outline-info btn-sm"><i class="bi bi-arrow-bar-right"></i> Move</button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">page</li>
                    </ol>
                </nav>
                <hr />
            </div>
        </div>
        
        <div class="row">
            <div class="col-3">
                <div id="treePath"></div>
            </div>
            <div class="col">
                <ul class="row row-cols-3 row-cols-sm-4 row-cols-lg-6 row-cols-xl-8 list-unstyled list">
                    <li class="col mb-4" data-tags="directory" data-categories="files and folders">
                        <a class="d-block text-dark text-decoration-none" href="#">
                            <div class=text-center rounded">
                                <img src="~/img/file-96.png" alt="folder" />
                            </div>
                            <div class="name text-muted text-decoration-none text-center pt-1">folder</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/index.js"></script>
}